# сервис авторизации
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# регистрация через социальные сети
# vk.com
# ID приложения + Защищённый ключ
SOCIAL_AUTH_VK_OAUTH2_KEY=
SOCIAL_AUTH_VK_OAUTH2_SECRET=

# https://ok.ru
SOCIAL_AUTH_ODNOKLASSNIKI_OAUTH2_KEY=
SOCIAL_AUTH_ODNOKLASSNIKI_OAUTH2_SECRET=
SOCIAL_AUTH_ODNOKLASSNIKI_OAUTH2_PUBLIC_NAME=


# https://www.facebook.com
SOCIAL_AUTH_FACEBOOK_KEY=
SOCIAL_AUTH_FACEBOOK_SECRET=

# Подключение к БД
DB_USER=
DB_PASSWORD=