{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
<div class="col-4 mx-auto">
    <div class="header_img"><img src="/media/{{ user_avatar }}" alt="" height=200px></div>
    <div class="row">
        <form class="form-horizontal" action="{% url 'auth:password' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ password_form.as_p }}
            <input class="form-control" type="submit" value="сменить пароль">
        </form>
        <button class="btn btn-round form-control last">
            <a href="{% url 'index' %}" class="">
                на главную
            </a>
        </button>
    </div>
</div>
{% endblock %}