{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Tовар</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa fa-table mr-1"></i>
                {{ type_operation }}
            </div>
            <div class="card-body">
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ update_form.as_p }}
                    <div style="display: flex">
                        <input class="form-control" type="submit" value={{ type_operation }} style="color: red">
                        <button class="form-control">
                            <a href="{% url 'admin_staff:categories' %}">выйти без сохранения</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}